<header class="header">
  <h1 class="Title" routerLink="/home">WellBeing</h1>
  <img
    src="../assets/icon-leaf.svg"
    alt=""
    class="icon"
    routerLink="/meditations"
  />
  <div class="buttons">
    <button class="nav-btn style-btn" routerLink="/favorites">Favorites</button>

    <div class="dropdown">
      <button class="dropbtn style-btn">Search</button>
      <div class="dropdown-content">
        <a routerLink="/meditations">Meditations</a>
        <a routerLink="/music">Music</a>
        <a routerLink="/book">Books</a>
      </div>
    </div>
  </div>
</header>
