.footer {
  position: fixed;
  width: 100%;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.clicked-icon {
  background-color: lightcoral;
  border-radius: 50%;
}

.btn {
  font-size: 25px;
  padding: 10px;
  color: black;
}

@media screen and (min-width: 768px) {
  .icon-container {
    display: none;
  }
}
