<app-header></app-header>
<main class="main">
  <h1 class="about">About the Creators</h1>
  <section class="container">
    <!-- Alex -->
    <div class="developer">
      <img
        src="../assets/alexw.PNG"
        alt="Alex is too ugly to display right now"
        class="headshot"
      />
      <span class="name-info">
        <h4 class="name">
          Alex Weber
          <a href="https://www.linkedin.com/in/alex-a-weber/"
            ><i class="fab fa-linkedin linkedin"></i
          ></a>
        </h4>
        <p class="intro">
          我叫王安伦。我是个美国电脑学生。很喜欢功夫，钢琴，模仿，什么的，
          什么的。
        </p>
      </span>
    </div>
    <!-- Brandon -->
    <div class="developer">
      <img
        src="../assets/brandonR.png"
        alt="Brandon is hiding. Teehee."
        class="headshot"
      />
      <span class="name-info">
        <h4 class="name">
          Brandon Robinson
          <a href="https://www.linkedin.com/in/brandon-scott-robinson/"
            ><i class="fab fa-linkedin linkedin"></i
          ></a>
        </h4>
        <p class="intro">
          Name's Brandon. I'm the son of Robin as seen on Cartoon Network's hit
          "Batman the Animated Series"
        </p>
      </span>
    </div>
    <!-- Troy -->
    <div class="developer">
      <img
        src="../assets/troy.png"
        alt="Troy is out back grillin' steaks"
        class="headshot"
      />
      <span class="name-info">
        <h4 class="name">
          Troy Hanson
          <a href="https://www.linkedin.com/in/troyhansondev/"
            ><i class="fab fa-linkedin linkedin"></i
          ></a>
        </h4>
        <p class="intro">
          Part of the band, "Handsom Brothers" ~ you may have heard of them
          *starts singing "Mmm-bop"*
        </p>
      </span>
    </div>
  </section>
</main>
<div class="filler"></div>
<app-footer class="footer"></app-footer>
