.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.about {
  border-bottom: 2px solid black;
  font-family: "Righteous", cursive;
}
.container {
  background-color: rgb(255, 255, 255, 0.6);
  border: 3px solid black;
  border-radius: 10px;
  word-wrap: normal;
  margin: 40px;
  margin-top: 20px;
}
.headshot {
  border-radius: 50%;
  border: 3px solid black;
  height: 150px;
  width: 150px;
  text-align: center;
}

.developer {
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.name {
  text-align: center;
  margin: 5px;
  font-family: "Righteous", cursive;
  font-size: 25px;
}

.intro {
  margin: 10px;
}

.name-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 3px;
  font-size: 40px;
  text-decoration: none;
}

.linkedin {
  color: #0077b5;
}

.github {
  color: #6f42c1;
}
.filler {
  height: 75px;
}
.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .headshot {
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .developer {
    flex-direction: column;
    flex: 1;
  }
}
