<app-header></app-header>
<main class="main">
  <h1 class="about">Meet The Developers</h1>
  <section class="container">
    <!-- Alex -->
    <div class="developer">
      <img
        src="../assets/alexw.PNG"
        alt="Alex is too ugly to display right now"
        class="headshot"
      />
      <div class="name-info">
        <h4 class="name">Alex Weber</h4>
        <!-- <p class="intro">
          我叫王安伦。我是个美国电脑学生。很喜欢功夫，钢琴，模仿，什么的，
          什么的。
        </p> -->
        <span>
          <a href="https://www.linkedin.com/in/alex-a-weber/"
            ><i class="fab fa-linkedin linkedin icon"></i
          ></a>
          <a href="https://github.com/AlexAaronWeber"
            ><i class="fab fa-github-square github icon"></i
          ></a>
        </span>
      </div>
    </div>
    <!-- Brandon -->
    <div class="developer">
      <img
        src="../assets/brandonR.png"
        alt="Brandon is hiding. Teehee."
        class="headshot"
      />
      <div class="name-info">
        <h4 class="name brandon">Brandon Robinson</h4>
        <!-- <p class="intro">
          I'm the son of Robin as seen on Cartoon Network's hit "Batman the
          Animated Series"
        </p> -->
        <span>
          <a href="https://www.linkedin.com/in/brandon-scott-robinson/"
            ><i class="fab fa-linkedin linkedin icon"></i
          ></a>
          <a href="https://github.com/brandonscottrobinson"
            ><i class="fab fa-github-square github icon"></i
          ></a>
        </span>
      </div>
    </div>
    <!-- Troy -->
    <div class="developer">
      <img
        src="../assets/troy.png"
        alt="Troy is out back grillin' steaks"
        class="headshot"
      />
      <div class="name-info">
        <h4 class="name">Troy Hanson</h4>
        <!-- <p class="intro">
          Part of the band, "Handsom Brothers" ~ you may have heard of them
          *starts singing "Mmm-bop"*
        </p> -->
        <span>
          <a href="https://www.linkedin.com/in/troyhansondev/"
            ><i class="fab fa-linkedin linkedin icon"></i
          ></a>
          <a href="https://github.com/THanson-0408"
            ><i class="fab fa-github-square github icon"></i
          ></a>
        </span>
      </div>
    </div>
  </section>
</main>
<div class="filler"></div>
<app-footer class="footer"></app-footer>
