<app-header></app-header>

<p class="music-description">
  Discover and listen to music that is tailored to help relieve, relax, and
  realign your mind and body
</p>

<form
  ngNativeValidate
  #musicForm="ngForm"
  (ngSubmit)="getMusicVideos(musicForm)"
>
  <label for="music" class="mus-search">Music Search</label>
  <select id="music" name="music" ngModel required>
    <option value="live meditation music">Live Broadcast</option>
    <option value="acoustic newage music">Stress</option>
    <option value="anxiety reduction instrumental">Anxiety</option>
    <option value="uplifting newage music">Depression</option>
    <option value="relaxing newage music">Fear</option>
  </select>
  <button class="music-btn">Submit</button>
</form>

<section class="big-container">
  <div class="mus-container" *ngFor="let music of musicVideos">
    <p class="mus-title">{{ music.snippet.title }}</p>
    <youtube-player
      videoId="{{ music.id.videoId }}"
      suggestedQuality="highres"
      [height]="250"
      [width]="300"
      [startSeconds]="'0'"
      [endSeconds]=""
    >
    </youtube-player>
    <button class="mus-btn" (click)="addToFavorites(music)">
      Add to Favorites
    </button>
  </div>
</section>

<div class="filler"></div>
<app-footer class="footer"></app-footer>
