<app-header></app-header>
<p class="mus-description">
  Discover relaxing music and give your mind a break from the noise of life
</p>
<form
  ngNativeValidate
  #musicForm="ngForm"
  (ngSubmit)="getMusicVideos(musicForm)"
>
  <label for="music" class="mus-search">How are you feeling?</label>
  <select id="music" name="music" ngModel required>
    <option value="" disabled selected></option>
    <option value="live meditation music">Relaxed</option>
    <option value="acoustic newage music">Stressed</option>
    <option value="anxiety reduction instrumental">Anxious</option>
    <option value="uplifting newage music">Depression</option>
    <option value="relaxing newage music">Fear</option>
  </select>
  <button class="music-btn">Submit</button>
</form>
<section class="big-container">
  <div class="mus-container" *ngFor="let music of musicVideos">
    <p class="mus-title">{{ music.snippet.title }}</p>
    <youtube-player
      videoId="{{ music.id.videoId }}"
      suggestedQuality="highres"
      [height]="250"
      [width]="300"
      [startSeconds]="'0'"
      [endSeconds]=""
    >
    </youtube-player>
    <i class="mus-btn" (click)="addToFavorites(music)" class="fas fa-plus add">
      <span class="fav">Add Favorite</span>
    </i>
  </div>
</section>

<div class="filler"></div>
<app-footer class="footer"></app-footer>
