<app-header></app-header>
<p>Listen to soothing music!</p>
<form #musicForm="ngForm" (ngSubmit)="getMusicVideos(musicForm)">
  <label for="music">music Search</label>
  <select id="music" name="music" ngModel>
    <option value="live meditation music">Live Broadcast</option>
    <option value="acoustic newage music">Stress</option>
    <option value="anxiety reduction instrumental">Anxiety</option>
    <option value="uplifting newage music">Depression</option>
    <option value="relaxing newage music">Fear</option>
  </select>
  <button class="music-btn">Submit</button>
</form>

<div *ngFor="let music of musicVideos">
  <youtube-player
    videoId="{{ music.id.videoId }}"
    suggestedQuality="highres"
    [height]="250"
    [width]="500"
    [startSeconds]="'0'"
    [endSeconds]=""
  >
  </youtube-player>
  <button (click)="addToFavorites(music)">Add to Favorites</button>
</div>
<app-footer class="footer"></app-footer>
