.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.music-btn {
  background: none;
  margin: 10px;
}

@media screen and (min-width: 768px) {
}
