div {
  margin: 0;
  padding: 0;
}

.activity {
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(76, 175, 80, 0.3);
  border-radius: 5px;
}

.filler {
  height: 75px;
}

@media screen and (min-width: 768px) {
  .activity {
    margin-top: 20px;
    margin-left: 0px;
    width: 410px;
  }

  .activity:hover {
    border: 1px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: ease-in-out 0.3s;
  }
}
