.filler {
  height: 75px;
}

.fav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  height: 250px;
  width: 150px;
}

.div {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  height: 400px;
  width: 325px;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin: 3px;
}

.author {
  text-align: center;
  margin: 3px;
}

.btn {
  cursor: pointer;
  padding: 5px;
}

.btn:hover {
  background-color: lightcoral;
  border-radius: 25%;
}

@media screen and (min-width: 768px) {
}
