/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-image: url("src/assets/iStock-1175009759-1536x903.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}
