main {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.card-container {
  overflow: scroll;
}

.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.main-cards {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: rgba(76, 175, 80, 0.3);
}

.h5 {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
  }

  .main-cards {
    flex: 1;
    height: 700px;
    overflow: scroll;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
