<app-header></app-header>
<main class="card-container">
  <div class="main-cards">
    <p>Your Favorites meditation techniques!</p>
    <app-fav-med
      *ngFor="let favorite of meditationFavs; index as i"
      [meditationsRef]="favorite"
    ></app-fav-med>
  </div>

  <div class="main-cards">
    <p>Listen to your favorite soothing music!</p>
    <app-fav-mus
      *ngFor="let favorite of musicFavs; index as i"
      [musicRef]="favorite"
    >
    </app-fav-mus>
  </div>

  <div class="main-cards">
    <p>Check out your favorite books on mental health!</p>
    <app-fav-book
      *ngFor="let favorite of bookFavs; index as i"
      [bookRef]="favorite"
    ></app-fav-book>
  </div>
</main>
