<app-header></app-header>
<main class="home">
  <!-- bookbar -->
  <div class="scroll-bar hidden">
    <app-book-bar></app-book-bar>
  </div>
  <!-- quote and nav cards -->
  <section class="section">
    <h2 class="middle-header">
      <p class="quote">
        Knowing others is intelligence; Knowing yourself is true wisdom -Lao Tzu
      </p>
    </h2>
    <div class="card-container">
      <div class="main-cards" routerLink="/meditations">
        <h3>Find Meditation Techniques</h3>
        <img
          src="../assets/kisspng-zen-buddhism-symbol-japanese-calligraphy-5c680bc64915a9.2560174915503226302994.png"
          width="70px"
          height="70px"
        />
        <!-- <p>Click here to search for great meditation techniques</p> -->
      </div>

      <div class="main-cards" routerLink="/music">
        <h3>Listen to Soothing music</h3>
        <img
          class="headphones"
          src="../assets/pngguru.com.png"
          width="70px"
          height="70px"
        />
        <!-- <p>Click here to get relaxing music recommendations</p> -->
      </div>

      <div class="main-cards" routerLink="/book">
        <h3>Top Books on Mental Health</h3>
        <img
          src="../assets/kisspng-tree-oak-silhouette-clip-art-5b253bf6b6b827.9887688915291668387484.png"
          width="70px"
          height="70px"
        />
        <!-- <p>Click here to search for informative books</p> -->
      </div>
    </div>
  </section>
  <!-- mod and bored -->
  <div class="mod-bored">
    <app-mod class="mod hidden"></app-mod>
    <app-bored></app-bored>
  </div>
</main>

<app-footer class="footer"></app-footer>
