<app-header></app-header>
<main class="home">
  <div class="scroll-bar hidden">
    <app-book-bar></app-book-bar>
  </div>

  <section class="card-container">
    <div class="main-cards" routerLink="/meditations">
      <h3>Find Meditation Techniques</h3>
      <p>Click here to search for great meditation techniques</p>
    </div>

    <div class="main-cards" routerLink="/music">
      <h3>Listen to Soothing music</h3>
      <p>Click here to get relaxing music recommendations</p>
    </div>

    <div class="main-cards" routerLink="/book">
      <h3>Top Books on Mental Health</h3>
      <p>Click here to search for informative books</p>
    </div>
  </section>
  <app-bored></app-bored>
  <app-mod class="mod hidden"></app-mod>
</main>

<app-footer class="footer"></app-footer>
