<app-header></app-header>

<app-book-bar></app-book-bar>
<app-mod></app-mod>
<main class="card-container">
  <div class="main-cards" routerLink="/meditations">
    <p>Find Meditation Techniques!</p>
    <p>Click here to search for great meditation techniques!</p>
  </div>

  <div class="main-cards" routerLink="/music">
    <p>Listen to Soothing music!</p>
    <p>Click here to get relaxing music recommendations!</p>
  </div>

  <div class="main-cards" routerLink="/book">
    <p>Top Books on Mental Health!</p>
    <p>Click here to search for informative books!</p>
  </div>
</main>
<app-bored></app-bored>
