main {
  margin: 0;
  padding: 0;
}

.home {
  overflow: scroll;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-cards {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  background-color: rgba(76, 175, 80, 0.3);
}

.main-cards:hover {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in-out 0.3s;
}

.scroll-box {
  height: 100px;
  overflow: scroll;
}

.hidden {
  display: none;
}

.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.middle-header {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.quote {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: inline;
  }

  .home {
    overflow: hidden;
    display: flex;
  }

  .card-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .main-cards {
    cursor: pointer;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .middle-header {
    font-size: 20px;
    margin-top: 0px;
  }
  .section {
    flex: 1;
  }
}
