main {
  margin: 0;
  padding: 0;
}

.home {
  overflow: scroll;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-cards {
  border: 1px solid black;
  margin: 5px;
  text-align: center;
}

.scroll-box {
  height: 100px;
  overflow: scroll;
}

.hidden {
  display: none;
}

.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.middle-header {
  font-size: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: inline;
  }

  .home {
    overflow: hidden;
    display: flex;
  }

  .card-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .main-cards {
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .middle-header {
    font-size: 24px;
  }
}
