.heading {
  position: absolute;
  width: 201px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  margin-left: 5px;
  padding-top: 2px;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 16px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.scroll-box {
  height: 800px;
  width: 200px;
  overflow: scroll;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(76, 175, 80, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
}

.position {
  position: relative;
}

.space-the-final-frontier {
  height: 20px;
}
.background {
  opacity: 1;
}
