<app-header></app-header>
<p class="books-description">
  Discover books written by experts in the field of mental health to help guide
  you through your struggles
</p>

<form
  class="centered"
  ngNativeValidate
  #bookForm="ngForm"
  (ngSubmit)="getBooks(bookForm)"
>
  <label class="book-label" for="books">What do you need help with?</label>
  <select id="books" name="books" ngModel required>
    <option value="stress">Stress</option>
    <option value="anxiety | self-esteem">Anxiety</option>
    <option value="depression">Depression</option>
    <option value="meditation">Meditation Practice</option>
    <option value="insomnia | sleep">Sleep and Insomnia</option>
  </select>

  <button class="book-btn">Discover</button>
</form>

<div *ngFor="let book of meditationBooks; index as i" class="book-container">
  <p class="book-info">{{ meditationBooks[i].volumeInfo.title }}</p>
  <p class="book-info">{{ meditationBooks[i].volumeInfo.authors }}</p>
  <img src="{{ meditationBooks[i].volumeInfo.imageLinks.thumbnail }}" alt="" />
  <div class="book-description">
    <p>{{ meditationBooks[i].volumeInfo.description }}</p>
  </div>
  <button (click)="addToFavorites(book)" class="book-btn">
    Add to Favorites
  </button>
</div>
<div class="filler"></div>
<app-footer class="footer"></app-footer>
