.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.books-description {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  /* background-color: rgb(255, 255, 255, 0.6); */
  border-radius: 5px;
  margin: 25px;
  padding: 7px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.book-btn {
  background: none;
  margin: 10px;
}

.book-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: rgba(76, 175, 80, 0.3);
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.book-label {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.book-info {
  font-weight: 700;
}

.book-description {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 5px;
}

.book-btn {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.filler {
  height: 75px;
}

.centered {
  text-align: center;
}
@media screen and (min-width: 768px) {
}
