.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.book-btn {
  background: none;
  margin: 10px;
}

.books-description {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;

}

.img {
  height: 200px;
  width: 150px;
}

.book-container {
  border: 1px solid black;
  height: 425px;
  width: 325px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 10px;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.book-label {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.book-info {
  font-weight: 700;
}

.description-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-description {
  height: 400px;
  width: 800px;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 5px;
}

.book-btn {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.filler {
  height: 75px;
}


@media screen and (min-width: 768px) {
  .big-container {
    display: flex;
    flex-wrap: wrap;
  }

  .exit {
    display: flex;
    justify-content: start;
    cursor: pointer;
    padding: 5px;
    border: none;
  }

  .exit:hover {
    background-color: lightcoral;
    border-radius: 25%;
  }
}
