.footer {
  border-top: 2px solid black;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

.med-search {
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.med-container {
  border: 1px solid black;
  height: 400px;
  width: 325px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 10px;
  text-align: center;
}

.med-btn {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.med-title {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.filler {
  height: 75px;
}
.big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fav {
  font-weight: 500;
  font-family: futura-pt, sans-serif;
  font-style: normal;
}
.add {
  cursor: pointer;
}
.add:hover {
  color: lightcoral;
}
.med-description {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  /* background-color: rgb(255, 255, 255, 0.6); */
  border-radius: 5px;
  margin: 25px;
  padding: 7px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.centered {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .big-container {
    display: flex;
    flex-wrap: wrap;
  }
}
