<app-header></app-header>
<form #meditationForm="ngForm" (ngSubmit)="getVideos(meditationForm)">
  <label for="meditation">Meditation Search</label>
  <select id="meditation" name="meditation" ngModel>
    <option value="guided stress meditation">Stress</option>
    <option value="guided anxiety meditation">Anxiety</option>
    <option value="guided depression meditation">Depression</option>
    <option value="guided fear meditation">Fear</option>
    <option value="guided sleep meditation">Sleep</option>
    <option value="guided anger meditation">Anger</option>
  </select>

  <!-- <label for="duration">Length</label>
  <select id="duration" name="duration" ngModel>
    <option value="fiveMinutes">5 minutes</option>
    <option value="tenMinutes">10 minutes</option>
    <option value="fifteenMinutes">15 minutes</option>
    <option value="twentyMinutes">20 minutes</option>
  </select> -->

  <button class="med-btn">Submit</button>
</form>

<div *ngFor="let meditation of meditationsVideos">
  <p>{{ meditation.snippet.title }}</p>
  <youtube-player
    videoId="{{ meditation.id.videoId }}"
    suggestedQuality="highres"
    [height]="250"
    [width]="500"
    [startSeconds]="'0'"
    [endSeconds]=""
  >
  </youtube-player>
  <button (click)="addToFavorites(meditation)">Add to Favorites</button>
</div>
<app-footer class="footer"></app-footer>
