<app-header></app-header>
<form
  ngNativeValidate
  #meditationForm="ngForm"
  (ngSubmit)="getVideos(meditationForm)"
>
  <label for="meditation" class="med-search">Meditation Search</label>
  <select id="meditation" required name="meditation" ngModel>
    <option value="guided stress meditation">Stress</option>
    <option value="guided anxiety meditation">Anxiety</option>
    <option value="guided depression meditation">Depression</option>
    <option value="guided fear meditation">Fear</option>
    <option value="guided sleep meditation">Sleep</option>
    <option value="guided anger meditation">Anger</option>
  </select>

  <button class="med-btn">Submit</button>
</form>

<section class="big-container">
  <div class="med-container" *ngFor="let meditation of meditationsVideos">
    <p class="med-title">{{ meditation.snippet.title }}</p>
    <youtube-player
      videoId="{{ meditation.id.videoId }}"
      suggestedQuality="highres"
      [height]="250"
      [width]="300"
      [startSeconds]="'0'"
      [endSeconds]=""
    >
    </youtube-player>
    <button class="med-btn" (click)="addToFavorites(meditation)">
      Add to Favorites
    </button>
  </div>
</section>
<div class="filler"></div>
<app-footer class="footer"></app-footer>
