<app-header></app-header>
<form>
  <label for="meditation">Meditation Search</label>
  <select id="meditation" name="meditation">
    <option value="Stress">Stress</option>
    <option value="Anxiety">Anxiety</option>
    <option value="Depression">Depression</option>
    <option value="Chill">Chill</option>
  </select>

  <label for="duration">Length</label>
  <select id="duration" name="duration">
    <option value="fiveMinutes">5 minutes</option>
    <option value="tenMinutes">10 minutes</option>
    <option value="fifteenMinutes">15 minutes</option>
    <option value="twentyMinutes">20 minutes</option>
  </select>
</form>

<div *ngFor="let meditation of meditationsVideos">
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/{{ meditation.id.videoId }}"
  >
  </iframe>
</div>
